db.sqlite3
bibliotecaapp/__pycache__/*
/apps/autor/__pycache__/*
/apps/autor/migrations/*
/apps/editoras/__pycache__/*
/apps/editoras/migrations/*
/apps/emprestimos/__pycache__/*
/apps/emprestimos/migrations/*
/apps/biblioteca/__pycache__/*
/apps/biblioteca/migrations/*
/apps/categorias/__pycache__/*
/apps/categorias/migrations/*
/apps/livros/__pycache__/*
/apps/livros/migrations/*
/apps/usuarios/__pycache__/*
/apps/usuarios/migrations/*